# Listas en Python

*Carlos Isaac Zainea Maya*

Una lista es una estructura de datos en Python conformada como una secuencia de elementos ordenada y modificable. Cada elemento o valor que está dentro de una lista se llama elemento. Así como las cadenas se definen como caracteres entre comillas, las listas se definen teniendo sus elementos entre corchetes `[ ... ]` y separandolos con comas  `,`.

**Ejemplo 1** *(días de la semana)* Una lista que contengan los días de la semana.

In [34]:
Dias=["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo"]

In [35]:
Dias

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

**Ejemplo 2** *(frutas y verduras)* Haga una lista de frutas y verduras:

In [36]:
FV=["Fresas","Papaya","Limón","Brocoli","Acelgas","Espinacas"]

In [37]:
FV

['Fresas', 'Papaya', 'Limón', 'Brocoli', 'Acelgas', 'Espinacas']

In [38]:
type(FV)

list

In [39]:
print(FV)

['Fresas', 'Papaya', 'Limón', 'Brocoli', 'Acelgas', 'Espinacas']

## Explorar listas

Usamos paréntesis cuadrados para indicar el índice del elemento de la lista que queremos llamar, el conteo siempre inicia en 0. Por ejemplo, el primer, el tercer y el cuarto elemento de la lista `FV` se designan:

In [40]:
print("Primer elemento: ",FV[0])
print("Tercer elemento: ",FV[2])
print("Cuarto elemento: ",FV[3])

Primer elemento:  Fresas
Tercer elemento:  Limón
Cuarto elemento:  Brocoli

**Índices Negativos**

Los índices negativos permiten explorar la lista desde el último elemento, así `Lista[-1]` es el último elemento de la lista, `Lista[-2]` es el penúltimo y así sucesivamente.

In [41]:
Dias[-1]

'Domingo'

In [42]:
Dias[-2]

'Sábado'

In [43]:
Dias[-3]

'Viernes'

**Rango de índices** 

También podemos extraer de la lista una sublista con un rango específico de indices, escribimos `Lista[i:j]`donde i representa el índice inicial del rango y j el índice final más 1. Por ejemplo, si quiero extraer de la lista `Dias` los tres días de la semana después del martes, inicio con el índice de martes (1) y termino con el índice de viernes (4):

In [44]:
Dias[1:4]

['Martes', 'Miércoles', 'Jueves']

Si quiero extraer una lista que inicia con un índice i y termina en el final escribo `Lista[i:]`, por ejemplo:

In [45]:
Dias[3::3]

['Jueves', 'Domingo']

In [46]:
Dias[-3:]

['Viernes', 'Sábado', 'Domingo']

Si por el contrario busco extraer una lista que inicia desde el principio de la lista y termina con el elemento j escribimos `Lista[:j]`

In [47]:
Dias[:4]

['Lunes', 'Martes', 'Miércoles', 'Jueves']

In [48]:
Dias[4]

'Viernes'

## Cambio de valores

Podemos cambiar los elementos de una lista haciendo una reasignación, de la lista frutas y verduras `FV` cambiaremos el Brocoli por la Calabaza:

In [49]:
FV #Veamos la lista para identificar donde está el Brocoli

['Fresas', 'Papaya', 'Limón', 'Brocoli', 'Acelgas', 'Espinacas']

In [50]:
FV[3]='Calabaza'

In [51]:
FV

['Fresas', 'Papaya', 'Limón', 'Calabaza', 'Acelgas', 'Espinacas']

## Operaciones elementales de las listas

Entre listas y para cada una de ellas tenemos diversas operaciones. 

**Suma (Concatenación)**

Dada la lista $L=[L_1,L_2,L_3,\cdots,L_n]$ y la lista $M=[M_1,M_2,\cdots, M_k]$ tenemos que:

$$L+M=[L_1,L_2,L_3,\cdots,L_n,M_1,M_2,\cdots, M_k]$$

Por ejemplo:

In [52]:
Dias+FV

['Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo',
 'Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Acelgas',
 'Espinacas']

In [53]:
Dias

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

In [54]:
FV

['Fresas', 'Papaya', 'Limón', 'Calabaza', 'Acelgas', 'Espinacas']

In [55]:
[1,2]+[2,4]

[1, 2, 2, 4]

**Extender una lista**

Podemos extender una lista con otra usando el comando `L1.extend(L2)`, en este caso el valor de L1 se actualizará con L1+L2.

Ejemplo:

In [56]:
L1=[2,4,6,8]
L2=[1,2,3]
print("L1= ",L1)
print("L2= ",L2)
L1.extend(L2)
print("L1.extend(L2)= ",L1)
L2.extend(L2)
print("L2.extend(L2)= ",L2)

L1=  [2, 4, 6, 8]
L2=  [1, 2, 3]
L1.extend(L2)=  [2, 4, 6, 8, 1, 2, 3]
L2.extend(L2)=  [1, 2, 3, 1, 2, 3]

In [57]:
L1

[2, 4, 6, 8, 1, 2, 3]

In [58]:
L2

[1, 2, 3, 1, 2, 3]

In [59]:
FV.extend(["Papaya","Pera","Mora","Rabano","Limón"])
FV

['Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Acelgas',
 'Espinacas',
 'Papaya',
 'Pera',
 'Mora',
 'Rabano',
 'Limón']

**Incluir elementos al final de la lista**

El comando `L.append(v)` incluirá al valor `v` al final de la lista `L`.

In [60]:
Dias.append("Lunes")

In [61]:
Dias

['Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo',
 'Lunes']

In [62]:
FV.append("Papaya")
FV.append("Pera")
FV.append("Mango")
FV.append("Papa")
FV.append("Limón")

In [63]:
FV

['Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Acelgas',
 'Espinacas',
 'Papaya',
 'Pera',
 'Mora',
 'Rabano',
 'Limón',
 'Papaya',
 'Pera',
 'Mango',
 'Papa',
 'Limón']

In [64]:
L=[0,1]
L.append(0)
L

[0, 1, 0]

**Contar elementos de una lista**

El comando `L.count(v)` contará la cantidad de `v` que hay en la lista:

In [65]:
Dias.count("Lunes")

2

In [66]:
Dias.count("Martes")

1

In [67]:
Dias.count("otra cosa")

0

In [68]:
FV.count("Papaya")

3

In [69]:
"Papaya".upper()

'PAPAYA'

In [70]:
"Papaya".lower()

'papaya'

In [71]:
'papaya'.capitalize()

'Papaya'

**Insertar elementos en una lista**

El comando `L.insert(n,v)` incluirá un elemento nuevo en la lista:

In [72]:
Dias.insert(4,"Juernes")

In [73]:
Dias

['Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Juernes',
 'Viernes',
 'Sábado',
 'Domingo',
 'Lunes']

**Medir una lista**

Con `len(L)` puedo medir una lista:

In [74]:
len(Dias)

9

In [75]:
len(FV)

16

**Remover elementos de una lista**

Para eso tenemos dos posibles procesos, usando `L.remove(v)`:

In [76]:
Dias.remove("Juernes")

In [77]:
Dias

['Lunes',
 'Martes',
 'Miércoles',
 'Jueves',
 'Viernes',
 'Sábado',
 'Domingo',
 'Lunes']

In [78]:
Dias.remove("Lunes")
Dias

['Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes']

o usando el comando `L.pop(ind)`

In [79]:
Dias

['Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo', 'Lunes']

In [80]:
Dias.pop(-1)

'Lunes'

In [81]:
Dias

['Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

In [82]:
Dias.index("Viernes")

3

In [83]:
FV.index("Papaya")

1

**Reversar una lista**

El comando `L.reverse()` nos permitirá reversar la lista:

In [84]:
Dias.reverse()

In [85]:
Dias

['Domingo', 'Sábado', 'Viernes', 'Jueves', 'Miércoles', 'Martes']

**Limpiar una lista**

Usamos el comando `L.clear()` para limpiar la lista:

In [86]:
Dias.clear()

In [87]:
Dias

[]

## Bucles para recorrer listas

La estructura de control `for` en Python resulta ser muy útil para recorrer y definir listas, la sintaxis de Python permite acceder a los elementos de la lista a partir del `for` sin necesidad de utilizar índices.

In [88]:
for frut_o_verd in FV:
    print(frut_o_verd)

Fresas
Papaya
Limón
Calabaza
Acelgas
Espinacas
Papaya
Pera
Mora
Rabano
Limón
Papaya
Pera
Mango
Papa
Limón

In [89]:
len("Calabaza")

8

In [90]:
cant_letras=[]
for frut_o_verd in FV:
    lon=len(frut_o_verd)
    cant_letras.append(lon)
    print("En la lista cant_letras se adjunto ",lon," \n"+ 
          "pues es la cantidad de letras de"+
          " ", frut_o_verd,"\n******************************" )
print(cant_letras)

En la lista cant_letras se adjunto  6
pues es la cantidad de letras de  Fresas
******************************
En la lista cant_letras se adjunto  6
pues es la cantidad de letras de  Papaya
******************************
En la lista cant_letras se adjunto  5
pues es la cantidad de letras de  Limón
******************************
En la lista cant_letras se adjunto  8
pues es la cantidad de letras de  Calabaza
******************************
En la lista cant_letras se adjunto  7
pues es la cantidad de letras de  Acelgas
******************************
En la lista cant_letras se adjunto  9
pues es la cantidad de letras de  Espinacas
******************************
En la lista cant_letras se adjunto  6
pues es la cantidad de letras de  Papaya
******************************
En la lista cant_letras se adjunto  4
pues es la cantidad de letras de  Pera
******************************
En la lista cant_letras se adjunto  4
pues es la cantidad de letras de  Mora
******************************
En la lista cant_letras se adjunto  6
pues es la cantidad de letras de  Rabano
******************************
En la lista cant_letras se adjunto  5
pues es la cantidad de letras de  Limón
******************************
En la lista cant_letras se adjunto  6
pues es la cantidad de letras de  Papaya
******************************
En la lista cant_letras se adjunto  4
pues es la cantidad de letras de  Pera
******************************
En la lista cant_letras se adjunto  5
pues es la cantidad de letras de  Mango
******************************
En la lista cant_letras se adjunto  4
pues es la cantidad de letras de  Papa
******************************
En la lista cant_letras se adjunto  5
pues es la cantidad de letras de  Limón
******************************
[6, 6, 5, 8, 7, 9, 6, 4, 4, 6, 5, 6, 4, 5, 4, 5]

In [91]:
FV

['Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Acelgas',
 'Espinacas',
 'Papaya',
 'Pera',
 'Mora',
 'Rabano',
 'Limón',
 'Papaya',
 'Pera',
 'Mango',
 'Papa',
 'Limón']

In [92]:
Papaya_list=[]
FV2=FV.copy()
for frut_o_verd in FV2: 
    if frut_o_verd=="Papaya":        
        Papaya_list.append(FV2.index(frut_o_verd))
        print("La posicion de papaya es -> ",FV2.index(frut_o_verd))
        FV2[FV2.index(frut_o_verd)]="Papaya contada"

La posicion de papaya es ->  1
La posicion de papaya es ->  6
La posicion de papaya es ->  11

In [93]:
print("La copia: ",FV2,"\n")
print("La original: ",FV)

La copia:  ['Fresas', 'Papaya contada', 'Limón', 'Calabaza', 'Acelgas', 'Espinacas', 'Papaya contada', 'Pera', 'Mora', 'Rabano', 'Limón', 'Papaya contada', 'Pera', 'Mango', 'Papa', 'Limón']

La original:  ['Fresas', 'Papaya', 'Limón', 'Calabaza', 'Acelgas', 'Espinacas', 'Papaya', 'Pera', 'Mora', 'Rabano', 'Limón', 'Papaya', 'Pera', 'Mango', 'Papa', 'Limón']

In [94]:
[len(fv) for fv in FV]

[6, 6, 5, 8, 7, 9, 6, 4, 4, 6, 5, 6, 4, 5, 4, 5]

Al momento de definir listas usamos parentesis cuadrados, la condición que debe satisfacer el valor de la lista y el ciclo:

***
`[f(v) for v in L]`
***

In [95]:
SL=[3,4,6,7] #Extraigo una sublista a partir de los índices
FV2=[FV[i] for i in SL]
FV2

['Calabaza', 'Acelgas', 'Papaya', 'Pera']

In [96]:
range(10)

range(0, 10)

In [97]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [98]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [99]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [100]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [101]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
[2**(-i) for i in range(10)]

[1,
 0.5,
 0.25,
 0.125,
 0.0625,
 0.03125,
 0.015625,
 0.0078125,
 0.00390625,
 0.001953125]

## Rangos 

El tipo `range` es una lista inmodificable de números enteros escritos como una sucesión aritmética.

En Python 3 este argumento se reconoce como un tipo de datos y usa uno, dos o tres argumentos numéricos, como si fuera una función.

In [103]:
range(10)

range(0, 10)

In [104]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [105]:
[i for i in range(4,10)]

[4, 5, 6, 7, 8, 9]

In [106]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [107]:
for i in range(4,10,3):
    print(i)

4
7

In [108]:
for i in range(3,10,3):
    print(i)

3
6
9

In [109]:
4!=5

True

In [110]:
4==5

False

In [111]:
2>4

False

In [112]:
Dias=["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo"]

In [113]:
"Lunes" in Dias

True

 ¿437 es primo?
 
 - Tome [2,...,436] y verifique si hay divisores de 437 o no
 - Para cada  $i \in [2,\cdots,436]$ calcule 437%i, si existe algún i talque 437%i=0 entoces 437 no es primo. En otro caso sí lo es.

Sea $j$ divisor de $n$, entonces $\frac{n}{j}\in \mathbb{Z}$ y además, también es divisor de $n$.

In [114]:
residuosmenores=[]
for i in range(2,36):
    residuosmenores.append(36%i)
m=min(residuosmenores)
print(residuosmenores)
if m!=0:
    print("437 es primo")
else:
    print("437 no es primo")

[0, 0, 0, 1, 0, 1, 4, 0, 6, 3, 0, 10, 8, 6, 4, 2, 0, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
437 no es primo

In [115]:
for n in range(3,100):
    residuosmenores=[n%i for i in range(2,round(n**(1/2))+1)]
    m=min(residuosmenores)
    if m!=0:
        print(n,"es primo")
    else:
        print(n, "no es primo")

3 es primo
4 no es primo
5 es primo
6 no es primo
7 es primo
8 no es primo
9 no es primo
10 no es primo
11 es primo
12 no es primo
13 es primo
14 no es primo
15 no es primo
16 no es primo
17 es primo
18 no es primo
19 es primo
20 no es primo
21 no es primo
22 no es primo
23 es primo
24 no es primo
25 no es primo
26 no es primo
27 no es primo
28 no es primo
29 es primo
30 no es primo
31 es primo
32 no es primo
33 no es primo
34 no es primo
35 no es primo
36 no es primo
37 es primo
38 no es primo
39 no es primo
40 no es primo
41 es primo
42 no es primo
43 es primo
44 no es primo
45 no es primo
46 no es primo
47 es primo
48 no es primo
49 no es primo
50 no es primo
51 no es primo
52 no es primo
53 es primo
54 no es primo
55 no es primo
56 no es primo
57 no es primo
58 no es primo
59 es primo
60 no es primo
61 es primo
62 no es primo
63 no es primo
64 no es primo
65 no es primo
66 no es primo
67 es primo
68 no es primo
69 no es primo
70 no es primo
71 es primo
72 no es primo
73 es primo
74 no es primo
75 no es primo
76 no es primo
77 no es primo
78 no es primo
79 es primo
80 no es primo
81 no es primo
82 no es primo
83 es primo
84 no es primo
85 no es primo
86 no es primo
87 no es primo
88 no es primo
89 es primo
90 no es primo
91 no es primo
92 no es primo
93 no es primo
94 no es primo
95 no es primo
96 no es primo
97 es primo
98 no es primo
99 no es primo

In [116]:
Primos=[2]
for n in range(3,1000):
    residuosmenores=[n%i for i in range(2,round(n**(1/2))+1)]
    m=min(residuosmenores)
    if m!=0:
        Primos.append(n)        
print(Primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

## Enumerar listas

Aunque una ventaja indiscutible del `for` de Python es que tenemos la posibilidad de recorrer la lista y no los índices, en ocasiones hace falta el índice del elemento de la lista, tenemos dos posibilidades:

In [117]:
Dias=["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo"]

In [118]:
for ind in range(len(Dias)):
    print(Dias[ind], "es el", ind+1,"día de la semana")

Lunes es el 1 día de la semana
Martes es el 2 día de la semana
Miércoles es el 3 día de la semana
Jueves es el 4 día de la semana
Viernes es el 5 día de la semana
Sábado es el 6 día de la semana
Domingo es el 7 día de la semana

In [119]:
for ind,i in enumerate(Dias):
    print(i, "es el", ind+1,"día de la semana")

Lunes es el 1 día de la semana
Martes es el 2 día de la semana
Miércoles es el 3 día de la semana
Jueves es el 4 día de la semana
Viernes es el 5 día de la semana
Sábado es el 6 día de la semana
Domingo es el 7 día de la semana

In [120]:
Dias

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

In [121]:
for i in enumerate(Dias):
    print(i)

(0, 'Lunes')
(1, 'Martes')
(2, 'Miércoles')
(3, 'Jueves')
(4, 'Viernes')
(5, 'Sábado')
(6, 'Domingo')

In [122]:
type(enumerate(Dias))

enumerate

## Pertenencia en una lista

Podemos establecer si un calor está o no está en una lista con el comando `in`:

In [123]:
"Lunes" in Dias

True

In [124]:
"Lunes" in FV

False

In [125]:
FV

['Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Acelgas',
 'Espinacas',
 'Papaya',
 'Pera',
 'Mora',
 'Rabano',
 'Limón',
 'Papaya',
 'Pera',
 'Mango',
 'Papa',
 'Limón']

In [127]:
V=['Brocoli', 'Acelgas', 'Espinacas']

In [128]:
F=[]
for v in FV:
    if v in V:
        print(v," es verdura.")
    else:
        print(v," es fruta.")
        F.append(v)

Fresas  es fruta.
Papaya  es fruta.
Limón  es fruta.
Calabaza  es fruta.
Acelgas  es verdura.
Espinacas  es verdura.
Papaya  es fruta.
Pera  es fruta.
Mora  es fruta.
Rabano  es fruta.
Limón  es fruta.
Papaya  es fruta.
Pera  es fruta.
Mango  es fruta.
Papa  es fruta.
Limón  es fruta.

In [129]:
F

['Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Papaya',
 'Pera',
 'Mora',
 'Rabano',
 'Limón',
 'Papaya',
 'Pera',
 'Mango',
 'Papa',
 'Limón']

**Ejercicio** Lo hace muy mal, permitamos que nos pregunte y recreamos la lista de Frutas y Verduras:

In [ ]:
F=[]
V=[]
SC=FV.copy()

for fv in FV:
    print(fv)
    L=input(" es fruta (marque F) o Verdura (marque V)")
    if L.capitalize()=="F":        
        SC.remove(fv)
        F.append(fv)
    elif L.capitalize()=="V":
        SC.remove(fv)
        V.append(fv)
    else:
        print("Esa respuesta no fue correcta")
print("Frutas: ",F)
print("Verduras: ",V)
print("Sin clasificar: ",SC)

Si quisiera clasificar todas las frutas y verduras utilizaría otro bucle: `while`

In [ ]:
F=[]
V=[]
SC=FV.copy()

while len(SC)>0:
    ol=SC.copy()
    for fv in ol:
        print(fv)
        L=input(" es fruta (marque F) o Verdura (marque V)")
        if L.upper()=="F":        
            SC.remove(fv)
            F.append(fv)
        elif L.upper()=="V":
            SC.remove(fv)
            V.append(fv)
        else:
            print("Esa respuesta no fue correcta")
    print("Frutas: ",F)
    print("Verduras: ",V)
    print("Sin clasificar: ",SC)

In [131]:
F

['Fresas',
 'Papaya',
 'Limón',
 'Papaya',
 'Pera',
 'Mora',
 'Papaya',
 'Pera',
 'Mango',
 'Limón',
 'Limón']

In [132]:
V

['Calabaza', 'Acelgas', 'Espinacas', 'Rabano', 'Papa']

# Tuplas

Las tuplas son una estructura de datos similar a las listas pero inmodificables, se encierran con paréntesis redondos.

In [135]:
Tupla1=("eje_x","eje_y","eje_z")

In [136]:
Tupla1.count("eje_x")

1

In [137]:
Tupla1.index("eje_z")

2

La indexación es similar a la de las listas:

In [138]:
Tupla1[0]

'eje_x'

In [139]:
Tupla1[-1]

'eje_z'

In [140]:
Tupla1[1:]

('eje_y', 'eje_z')

In [141]:
Tupla1[0]="X"

TypeError: 'tuple' object does not support item assignment

In [144]:
Tupla1.extend(["eje w"])

AttributeError: 'tuple' object has no attribute 'extend'

In [145]:
(1,2,3)+("Hola","Chao")

(1, 2, 3, 'Hola', 'Chao')

In [148]:
otratupla=(1,2,3)+(1,2,3)

La creación de una tupla unitaria requiere una coma final:

In [150]:
len(otratupla)

6

In [151]:
Tupla2=("solo",)

In [152]:
Tupla2

('solo',)

In [153]:
Tuplamala=("solo")
Tuplamala

'solo'

Tupla desde una lista u otra tupla:

In [154]:
DiasT=tuple((Dias))
DiasT

('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo')

In [155]:
[Tupla1.index(i)+1 for i in Tupla1]

[1, 2, 3]

In [156]:
tuple((Tupla1.index(i)+1 for i in Tupla1))

(1, 2, 3)

In [157]:
(1,2)+(2,1)

(1, 2, 2, 1)

In [158]:
([1,2,3],[1,2,1])

([1, 2, 3], [1, 2, 1])

# Conjuntos

Los conjuntos son colecciones de elementos sin indíces y sin orden, se definen entre corchetes `{ . . . }`

In [159]:
Set1={"Nairo", "Egan","Rigo","Rigo"}

In [160]:
Set1

{'Egan', 'Nairo', 'Rigo'}

In [161]:
Set1[2]

TypeError: 'set' object is not subscriptable

Podemos convertir listas en conjuntos con el comando `set()`

In [162]:
FV

['Fresas',
 'Papaya',
 'Limón',
 'Calabaza',
 'Acelgas',
 'Espinacas',
 'Papaya',
 'Pera',
 'Mora',
 'Rabano',
 'Limón',
 'Papaya',
 'Pera',
 'Mango',
 'Papa',
 'Limón']

In [163]:
CtoFV=set(FV)

In [164]:
CtoFV

{'Acelgas',
 'Calabaza',
 'Espinacas',
 'Fresas',
 'Limón',
 'Mango',
 'Mora',
 'Papa',
 'Papaya',
 'Pera',
 'Rabano'}

Varias de las operaciones entre listas y operaciones entre conjuntos podemos usar aquí:

In [165]:
CtoFV.add("Naranja") ## Agregar un elemento

In [166]:
CtoFV

{'Acelgas',
 'Calabaza',
 'Espinacas',
 'Fresas',
 'Limón',
 'Mango',
 'Mora',
 'Naranja',
 'Papa',
 'Papaya',
 'Pera',
 'Rabano'}

In [167]:
CtoF,CtoV=set(F),set(V)

In [168]:
CtoF

{'Fresas'}

In [169]:
CtoV

set()

In [170]:

Otro_Cto=CtoF.union(CtoV)## Unión de conjuntos

In [171]:
Otro_Cto

{'Fresas'}

In [172]:
Otro_Cto.intersection(CtoFV) ##intersección

{'Fresas'}

In [173]:
CtoFV.difference(Otro_Cto)##Diferencia

{'Acelgas',
 'Calabaza',
 'Espinacas',
 'Limón',
 'Mango',
 'Mora',
 'Naranja',
 'Papa',
 'Papaya',
 'Pera',
 'Rabano'}

In [175]:
Set1.discard("Egan")## Eliminar elementod

In [176]:
Set1

{'Nairo', 'Rigo'}

In [177]:
type(Set1)

set

**Ejercicio** Arreglando el problema de la clasificación de frutas y verduras:

In [179]:
F=set()
V=set()
SC=CtoFV.copy()

while len(SC)>0:
    ol=SC.copy()
    for fv in ol:
        print(fv)
        L=input(" es fruta (marque F) o Verdura (marque V)")
        if L.upper()=="F":        
            SC.remove(fv)
            F.add(fv)
        elif L.upper()=="V":
            SC.remove(fv)
            V.add(fv)
        else:
            print("Esa respuesta no fue correcta")
    print("Frutas: ",F)
    print("Verduras: ",V)
    print("Sin clasificar: ",SC)

Espinacas
 es fruta (marque F) o Verdura (marque V)V
Mora
 es fruta (marque F) o Verdura (marque V)F
Rabano
 es fruta (marque F) o Verdura (marque V)V
Mango
 es fruta (marque F) o Verdura (marque V)F
Limón
 es fruta (marque F) o Verdura (marque V)f
Acelgas
 es fruta (marque F) o Verdura (marque V)v
Fresas
 es fruta (marque F) o Verdura (marque V)f
Pera
 es fruta (marque F) o Verdura (marque V)f
Papaya
 es fruta (marque F) o Verdura (marque V)f
Papa
 es fruta (marque F) o Verdura (marque V)v
Naranja
 es fruta (marque F) o Verdura (marque V)f
Calabaza
 es fruta (marque F) o Verdura (marque V)v
Frutas:  {'Mora', 'Mango', 'Limón', 'Pera', 'Fresas', 'Papaya', 'Naranja'}
Verduras:  {'Espinacas', 'Rabano', 'Acelgas', 'Papa', 'Calabaza'}
Sin clasificar:  set()

In [181]:
len(F)

7

In [183]:
list(F)

['Mora', 'Mango', 'Limón', 'Pera', 'Fresas', 'Papaya', 'Naranja']

# Diccionarios
Un diccionario es una colección de elementos indexable, sin orden y modificable. Se escriben entre corchetes y los elementos cuentan con un identificador que llamamos clave o "key".

In [184]:
UC={"Nombre": "Universidad Central", "Año de fundación":1966,
              "Fundador":set("Raúl Vásquez Vélez, Rubén Amaya Reyes, Carlos Medellín, Alberto Gómez Moreno, Eduardo Mendoza Varela, Elberto Téllez Camacho, Jorge Enrique Molina, Darío Samper".split(", ")) ,"Sitio web":"www.ucentral.edu.co",
              "Facultades":{ "Facultad de Ciencias Sociales Humanidades y Artes","Facultad de Ciencias Administrativas, Económicas y Contables","Facultad de Ingeniería"}}

In [ ]:
UC["Nombre"]

In [ ]:
UC["Año de fundación"]

In [ ]:
type(UC["Facultades"])

In [ ]:
UC["Facultades"]

In [ ]:
UC[1]

In [ ]:
UC["Departamentos"]=["Departamento de Matemáticas","Departamento de Lenguas"]

In [ ]:
UC

In [ ]:
UC["Departamentos"][0]

In [ ]:
list(UC["Facultades"])

In [ ]:
list(UC["Facultades"])[0]